/*********************************************************************************************************
									cg.global.css
*********************************************************************************************************/
html, body {margin: 0;padding: 0;font-smoothing: antialiased;-webkit-font-smoothing: antialiased;-moz-font-smoothing: antialiased;-ms-font-smoothing: antialiased;height:100%}
body {font-family:Arial, Helvetica, sans-serif;font-size: x-large;color:#6D6D6D}

* {outline:none}
a {color: #6096CF; outline:none;}
a:hover {color:#369;}
ol, ul {margin: 0px;}
img, img a {border:none;}
p {padding: 0;margin: 0 0 10px 0;}
h1, h2, h3, h4, h5 {color:#808080;margin: 0 0 5px 0; padding:0;}
h1 {font-size: 22px;}
h2 {font-size: 19px;}
h3 {font-size: 18px;}
h4 {font-size: 12px;}
h5 {font-size: 16px;}
div {-webkit-box-sizing:border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

.holder {width:100%;margin: 0 auto;}
.sector {max-width:960px;width:90%;margin:0 auto;}
.audiowide {font-family: 'Audiowide', cursive;}
.ubuntu {font-family: 'Ubuntu Mono', sans-serif;}
.fl {float:left}
.fr {float:right}
.clear {clear:both;height:0;}
.clearfix::after {content:"";display:table;clear:both}
.center {text-align: center;}
.loading {background:url('../imgs/ajax-70x70.GIF') no-repeat center center transparent}
.r4 {
  border-radius:4px !important;
}

.r10 {
  border-radius:10px !important;
}

.r20 {
  border-radius:20px !important;
}

.r30 {
  border-radius:30px !important;
}

.r40 {
  border-radius:40px !important;
}

.r100 {
  border-radius:100px !important;
}

#portfolio {background:#1f2b38;color: #fff;}
#portfolio .ico {background:url('../imgs/profilePic.png') 0 0 no-repeat transparent;height: 52px;width:52px;background-size: contain;}
#portfolio .info {margin:8px 0 0 8px}
#portfolio .info .txt {font-size: medium;font-weight: bold;}
#portfolio .info .subtxt {font-size: small;margin: 0 5px 0 0;font-weight: bold;}
#portfolio .info a {color: #51a5be;text-decoration: none;}

#social_media {
  display: block;
  float: none;
  margin: 0 auto;
  padding: 10px 0;
  width: 145px;
}

#social_media img {
  height:30px;
  width:30px;
}

#social_media a {
  margin: 0 8px 0 10px;
  display: inline-block;
  position: relative;
  top: 2px;
}

#menu {background:#34495e;margin: 0 0 20px 0;text-align: center;}
#menu #logo {background:url('../imgs/logo.png') 0 0 no-repeat transparent;display:block;height: 33px;width:36px;margin:10px;}
#menu .menu-link {color: #fff;font-weight: bold;padding: 6px 15px;margin:17px 0 0 0;display:inline-block;text-decoration: none;}
#menu .menu-link.active {background: #fff;color: #34495e;}
#menu #amabes {position:absolute;right: 0px;top: 0px;width:54px;height:53px;}
#mid {
  margin: 20px auto 0;
  min-height: 700px;
}
#mid .sector {padding: 0 0 90px 0;}
#mid .media {text-align:center;}
#mid .media img {width:100%;}
#mid .media .media-title {font-size:30px;}
#mid .media .media-link {margin:10px 0; }
#mid .media .media-body {width:75%;margin:0 auto 60px;}
#media_nuko_video {width:790px;height:442px;}

.product-header .img {width:18%;margin:2.5% 2% 0 0;}
.product-header .img img {width:100%}
.product-header .txt {width:80%;margin: 0 0 4%;}

#products .product .browser-bar {padding:10px;background: #ecf0f1;}
#products .product .bbl {background: #fff;padding:7px;}
#products .product .bbl div {background: #d7dbdd;height: 10px;width:115px;display: block}
#products .product .bbr {}
#products .product .bbr div {background: #bdc3c7;height: 5px;width: 24px;margin:0 0 5px;display: block}
#products .product .bbr div.last {margin:0;}
#products .product img {width:100%;}
#products .product .product-body {margin:1% 0 10%;}

#mid .sector.projects {max-width:650px;}
#projects {}
#projects .project {min-height: 150px;background: #d7dbdd;padding: 20px 90px 20px 20px;position: relative;margin: 0 0 20px;}
#projects .project .forkme {position:absolute;top:0;right:0;}
#projects .project .forkme.red {background:url('../imgs/forkme-red.png') 0 0 no-repeat transparent;width: 149px;height:149px;}
#projects .project .img {margin:0 10px 0 0;}
#projects .project .img img {}
#projects .project .project-title {font-weight: bold;}
#projects .project .project-body {}

#cv-img {text-align: center;margin:0 0 20px 0;}
#cv-img img {height:200px;width:200px;}
#cv-img .subtxt {font-size: medium;}

#cv-skills .cv-skill {font-weight: bold;text-align: center;margin: 20px 0;}
#cv-skills .skill {margin: 0 0 20px 0;background: #ecf0f1;position: relative}
#cv-skills .skill .txt {padding: 7px 10px;width: 95px;}
#cv-skills .skill .num {background: #bdc3c7;padding: 7px;font-weight: bold;color: #fff;position: relative;}

#btm {position: relative;bottom:0;left:0;background: #2c3e50;min-height:20px;}
#social_media_btm {text-align: center;padding:20px;}
#social_media_btm a {margin:0 10px;display: inline-block;}
#btm-line {
  background:#51a5be;
  height: 20px;
}

@media (min-width : 1001px) {
  #mid .media img {
    min-height: 391px;
  }
}

@media (min-width : 501px) and (max-width : 1000px) {
  body {
    font-size: large;
  }

  .menu-link {
    margin: 23px 0 0 5px !important;
  }
}

@media (max-width: 500px){
    body {
      font-size: medium;
      min-width: auto!important;
    }

    .menu-link {
      margin: 25px 0 0 5px !important;
      padding: 6px 9px !important;
      font-size: small !important;
    }

    #menu {
      background-image:none !important;
    }

    #menu #logo {
      display: none;
    }

    #social_media {
      display:none;
    }

    .product-header .img {width: auto;margin: 5% auto 10%;float: none;display: block;}
    .product-header .img img {width: auto;}
    .product-header .txt {width:auto;float: none;margin: 0 0 10%;}
    #projects .project {padding: 20px!important;}
    #projects .project .project-title {margin:4% 0 7% 0!important;}
    #projects .project .img {float: none;}
}
